/* Set background color to dark grey through the whole application */
html,
body {
  box-sizing: border-box;
  background-color: #343536;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif!important;
  left: 0;
  margin: 0;
  max-width: 100%;
  min-height: 100% !important;
  /* overflow-x: hidden; */
  position: absolute !important;
  top: 0;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input,
select:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
.flexBoxCenter {
  display: flex;
  padding: 15px 0px 15px;
  justify-content: space-between;
  gap: 20px !important;
}
.navBtn {
  display: none;
}
.paddingTopBot {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.transparent {
  opacity: 0.4;
}

/* Generic  styles for pages *.html */
.mainChartsContainer {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  height: 100%;
  /* width: 100%; */
  flex-grow: 1;
}

.input__radiobutton {
  margin-bottom: 20px;
  display: flex;
  gap: 6px;
  position: relative;
  /* flex-wrap: wrap; */
}
.headerLogo .meterTracLogo {
    height: 100%;
    max-width: 150px;
    width: 100%;
}
.select-container {
  position: relative;
  margin: 0 auto;
  /* width: 400px; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
}
/* .select-container .option-container .option label:last-child{
max-width: 100%;
text-align: center;
} */
.fa-angle-down{
  position: absolute;
  right: 3px;
  top: 14px;
}
.list__block__bg{
  width: 100%;
}
ul.list-unstyled { 
    background: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    height: 48px;
    display: inline-block;
    width: 100%;
  
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    position: relative;
    z-index: 99;

    color: #ABABAB;
}
ul.list-unstyled li {         
   height: 33px;
  line-height: 31px;
  padding: 1px 10px 7px;
  font-weight: 400;
  z-index: 2;
  margin-bottom: 0px;
  font-size: 15px;
  font-style: normal;    }
  ul.list-unstyled li:not(.init) { float: left; width: 100%; display: none; background: #fff; }
  ul.list-unstyled li:not(.init):hover, ul.list-unstyled li.selected:not(.init) { background: #24a0ed; color: #fff;  }
  .list-unstyled li.init { cursor: pointer;     line-height: 41px;}
  ul.list-unstyled li:last-child{
  height: inherit;
  padding-top: 7px;
  text-align: center;
  border-top:1px solid #5A5A5A;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  color: #0490d0;
  font-weight: bold;
  background-color:rgb(173, 195, 210);
  }
  ul.list-unstyled li:nth-child(2){
  margin-top: 1px;

  }
/* option:hover{
  background-color: #000;
} */
a#submit { z-index: 1; }
.select-container .select {
  background: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  height: 48px;
  width: 100%;
  /* padding-left: 11px; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* max-width: 312px; */
  color: #ABABAB;
  padding: 0px 6px;
}

.select-container .select::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(45deg);
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  cursor: pointer;
  transition: border-color 0.4s;
}

.select-container.active .select::after {
  border: none;
  border-left: 2px solid white;
  border-top: 2px solid white;
}
.select-container .select input {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background: none;
  outline: none;
  border: none;
  /* font-size: 1.4rem; */
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 312px;
  color: #ABABAB;
  cursor: pointer;
}
.select-container .option-container {
  position: relative;
  background: #fff;
  height: 0;
  overflow-y: scroll;
  transition: 0.4s;
}

.select-container.active .option-container {
  height:100%;
}

.select-container .option-container::-webkit-scrollbar {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  width: 10px;
}

.select-container .option-container::-webkit-scrollbar-thumb {
  background: #0f0e11;
}

.select-container .option-container .option {
  position: relative;
  padding-left: 15px;
  height: 60px;
  /* border-top: 1px solid rgba(0, 0, 0, 0.3); */
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.myClass {
  position: relative;
  padding-left: 15px;
  height: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.3) !important; 
  text-align: center !important;
  color: #0490d0;
  padding-left: 20px;
  align-items: center;
  transition: 0.2s;
}
.option-container .option:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.3); 
  text-align: center;
}
.select-container .option-container .option.selected {
  /* background: rgba(0, 0, 0, 0.5); */
  pointer-events: none;
}

.select-container .option-container .option:hover {
  background: #fff;
  padding-left: 20px;
}

.select-container .option-container .option label {

  background: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  /* height: 48px; */
  width: 100%;
  padding-left: 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* max-width: 312px; */
  color: #ABABAB;
  padding: 3px 23px;

}

.input__radiobutton .form-check input {
  width: 16px;
  height: 16px;
  position: absolute;
  margin-left: -14px;
  cursor: pointer;
}

.hide__block__input {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 19px;
  justify-content: space-between;
  /* border-bottom: 2px solid #fff; */
  padding-bottom: 20px;
  -webkit-transition: all 0.5s ease;
  margin: 0px auto;
  width: 100%;
  max-width: 644px;
  scroll-behavior: smooth;
}

.portal__section {
  max-width: 308px;
  width: 100%;
}

.group_sections {
  max-width: 308px;
  width: 100%;
}

.wrap__block_sticky p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  padding-left: 11px;
  padding-bottom: 11px;
  display: block;
  color: rgb(255 255 255);
  letter-spacing: 0.3px;
}

.portal__section select {
  background: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  height: 48px;
  width: 100%;
  /* padding-left: 11px; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 312px;
  color: #ABABAB;
  padding: 0px 6px;
  width: 100%;
}

.group_sections select {
  background: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  height: 48px;
  width: 100%;
  /* padding-left: 11px; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 312px;
  color: #ABABAB;
  padding: 0px 6px;
  width: 100%;
}

.input__radiobutton label {
  padding-bottom: 0px !important;
  cursor: pointer;
}

.input__radiobutton .form-check {
  background-color: #002b62;
  border-radius: 10px;
  padding: 8px 20px 10px 25px;

}

.logout__ic {

  background-color: #0E64D2;
  width: auto !important;
  padding: 8px 15px;
  border-radius: 5px;
  color: #fff !important;
align-items: center;
  margin-top: 1px;


}

a.location__btn {
  background: #002b62;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  height: 48px;
  display: inline-block;
  width: 100%;
  padding-left: 11px;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  box-shadow: none;
  border: transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

a.location__btn:hover {
  background: #02142b;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  text-decoration: none;
  color: #fff;
}

/* styles for login.html */
.loginHeader {
  /*background-color: #2f2f2f;*/
  background-color: white;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

/*login page css start*/
.bg__login {
  background-image: url(../../img/background_form.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 132px);
}

.wrap__footer {
  display: flex;
  justify-content: space-between;
}

.bg__login .loginMain {
  background-color: transparent !important;
  height: auto;
}

.bg__login .loginMain .loginInner {
  background: #3255A2;
  border-radius: 10px;
  max-width: 500px;
  margin: 0px -6px;
  padding: 20px;
  width: 100%;
}

.bg__login .loginMain .loginInner input.loginInput {
  background: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  height: 48px;
  padding: 0px 11px;
  font-size: 16px;
  margin-bottom: 25px;
  width: 100%;

}

.bg__login .loginMain .loginInner .loginBtn {
  background: #0E64D2;
  border-radius: 5px;

  height: 48px;
  width: 100%;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  margin: 0px auto;
  border: 1px solid transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.bg__login .loginMain .loginInner .loginBtn:hover {
  border: 1px solid #fff;
  background: #002b62;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.bg__login .loginMain .loginInner label {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: rgb(255 255 255);
  letter-spacing: 0.3px;
}

.login__header__mob {
  height: auto;
  padding: 15px 0px;
}

.login__header__mob .meterTracLogo {
  height: 100%;
  max-width: 150px;
  width: 100%;
}

/*login page css end*/
.form__block {
  background-image: url(../../img/background_form.png);
  /*height: 100vh;*/
  background-size: cover;
  background-position: center;
  padding: 50px 0px;
}

.form__grid {
  background: #3255A2;
  border-radius: 12px 12px 10px 10px;
  max-width: 700px;
  width: 100%;
  margin: 0px auto;


}

.form__grid .logo__block {
  background: #FFFFFF;
  border-radius: 10px 10px 0px 0px;
  padding: 30px 0px;
}

.form__grid .logo__block img {
  margin: 0px auto;
  display: block;
  max-width: 300px;
  width: 100%;
}

.main__form {
  padding: 40px 28px 42px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: space-between;
  position: relative;
}

.label__block {
  max-width: 48%;
  width: 100%;
}

.main__form label {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  padding-left: 11px;
  padding-bottom: 11px;
  display: block;
  color: rgb(255 255 255);
  letter-spacing: 0.3px;
}

.main__form select {
  background: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  height: 48px;
  width: 100%;
  /* padding-left: 11px; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 312px;
  color: #ABABAB;
  padding: 0px 6px;

}

.main__form input {
  background: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  height: 48px;

  display: inline-block;
  width: 100%;
  padding-left: 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ABABAB;

}

.file-input {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='9' ry='9' stroke='white' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 9px;
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  padding: 10px 12px;
  background-color: #4245a8;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 25%);
  background: rgba(255, 255, 255, 0.1);
  /*    border: 1px dashed #FFFFFF;*/
  border-radius: 10px;
  display: flex !important;
  justify-content: space-between;
  height: 48px;
}

.file-input__label span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */


  color: #FFFFFF;
}

.btn-wrap button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  box-shadow: none;
}

.owl-carousel {
  max-width: 300px;
  /*margin: 0 auto;*/
  padding: 30px 0;
}

.owl-carousel .item {
  font-size: 30px;
  text-align: center;
  line-height: 2;
  font-weight: 700;
  position: relative;
  padding-right: 10px;
  padding-top: 10px;
  max-width: 100px;
}

.wrap__block_sticky {
  width: 100%;
  /* position: sticky; */
  max-width: 700px;
  background: #3255A2;
  /* z-index: 999999; */
  top: 0px;
}

.wrap__block_sticky_cls {
  top: 0px;
}

img.user__upload {
  /*margin: 0px auto;*/
  border: 1px solid #FFFFFF;

  max-width: 74px;
  height: 74px;
  object-fit: cover;
  object-position: top;

}

img.close__x {
  max-width: 18px !important;
  position: absolute;
  right: 0px;
  top: 3px;
  cursor: pointer;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}

.owl-nav button span {
  font-size: 30px;
  height: 100%;
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.owl-carousel .owl-nav {
  margin: 0;
}

.btn-wrap {
  text-align: center;
  width: 100%;
}

.owl-theme .owl-nav .disabled,
button.disabled {
  opacity: 0.6;
}

.btn-wrap button {
  position: absolute;
  right: 0px;
  top: 50%;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.label__block .file-input {
  max-width: 309px;
  width: 100%;
}

.warp__slider {
  position: relative;
  padding-right: 50px;
  max-width: 309px;
  width: 100%;
  z-index: 0;
}

.flx__bx {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  padding-bottom: 20px;
  -webkit-transition: all 0.5s ease;
  margin: 0px auto;
  width: 100%;
  max-width: 644px;


  scroll-behavior: smooth;
}

.fixed_feild_1 {
  position: fixed;
  max-width: 700px;
  animation: smoothScroll 1s forwards;
  background: rgb(50 85 162);
  width: 100%;
  top: 131px;
  z-index: 99999;
  display: block;
  width: 100%;
  left: 0px;
  right: 0px;
  margin: 0px auto;

  padding-top: 40px;
}

.fixed_feild {
  position: fixed;
  max-width: 700px;
  
  background: rgb(50 85 162 / 90%);
  width: 100%;
  top: 0px;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

input.sbmit_btn {
  background: #0E64D2;
  border-radius: 5px;
  max-width: 312px;
  height: 48px;
  width: 100%;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  margin: 0px auto;
  border: 1px solid transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  box-shadow: none;
  color: #fff!important;

}
.fixed {
  position: fixed;
  top:0; left:0;
  background-color: #fff;
  z-index: 999999999;
  animation: smoothScroll 1s forwards;
  width: 100%; }
  .mt_tp{
    margin-top: 100px;
    top: 52px;
    
  }
  
  @keyframes smoothScroll {
    0% {
      transform: translateY(-40px);
    }
    100% {
      transform: translateY(0px);
    }
  }
input.sbmit_btn:hover {
  border: 1px solid #fff;
  background: #002b62;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.data__table {
  padding: 0px 0px 60px;
  overflow-x: auto;
  margin: 0px 28px;
}

.data__table th,
td {
  border: solid 0.5px #fff;
  padding: 10px;
  color: #fff;
}

.data__table table {
  border-collapse: collapse;
  caption-side: bottom;
  width: 100%;
}

.data__table caption {
  font-size: 16px;
  text-align: left;
  padding-top: 5px;
}

.label__upload {
  max-width: 100%;
}

.data__table th {
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  border-top: 0.5px solid #fff;


  color: #FFFFFF;

}

.data__table td {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  border-bottom: solid 1px #ffffff;
  border-top: solid 0.5px #ffffff;
  ;
  text-align: left;
  border-right: 1px solid #fff;
  color: #FFFFFF;

}

/* CSS styles for the modal container */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS styles for the modal content */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

/* Additional styles to center the modal */
.modal {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* .mhole{
  background-color: #000;
} */

.mhole-mobile {
  max-width: 375px;
  width: 100%;
  margin: 0% auto;
  padding: 35px 0px;
  position: relative;
  background-color: #fff;
}
.mhole-mobile h4{
  text-align: center;
  padding-bottom: 10px;
}
.mhole-mobile .mhole-image{
  width: 100%;
} 
.mhole-mobile .mhole-image img{
  display: block;
  margin: 0 auto;
}

.mhole-mobile .mhole-content{
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 0 55px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: end;
}  

@media (max-width: 394px) {
  .mhole-mobile .mhole-content{
  padding: 0 42px 0 30px;
  }
}
@media (max-width: 376px) {
  .mhole-mobile .mhole-content{
  padding: 0 35px 0 30px;
  top: 64px;
  }
  .mhole-mobile .mhole-content .mhole-text p::before{
    width: 30% !important;
  }
}
@media (max-width: 361px) {
  .mhole-mobile .mhole-content{
  padding: 0 47px 0 30px;
  }
  .mhole-mobile .mhole-content .mhole-alert input{
    max-width: 70px !important;
  }
}

.mhole-mobile .mhole-content .mhole-alert{
  display: flex;
  gap: 84px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 61px; */
}
.mhole-mobile .mhole-content .mhole-alert:nth-last-of-type(1){
  margin-bottom: 0;
}
.mhole-mobile .mhole-content .mhole-alert::before{
    justify-content: center;
    display: flex;
    position: absolute;
    content: "";
    border: 1.7px solid red;
    width: 105px;
    align-items: center;
    right: 0;
    left: 12px;
    margin: 0 auto;
}


.mhole-mobile .edit-btn {
  color: white;
    position: absolute;
    top: 28px;
    border: 1px solid white;
    border-radius: 9px;
    background: blue;
    padding: 3px;
    font-size: 16px;
    right: 15px;
    left: unset;
    text-decoration: none;
    z-index: 9999999;
}
.alert-show{
  color: red;
  position: absolute;
  top: 65px !important;
  right: 8px;
  line-height: 12px;
  letter-spacing: -1px !important;
  display: flex !important;
  flex-wrap: wrap !important;
  width: 120px !important;
  font-size: 12px;
}
.disabledprop{
  opacity: 0.5;
  cursor: not-allowed !important;
}

.disTrigger{
  position: absolute;
  top: 31px !important;
  right: 44px;
}
.disableClass{
  opacity: 0.5;
}
.mhole-alert .classmm{
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  right: 6%;
  margin: 0 auto;
}
.mhole-alert .alt-status{
  position: absolute;
    top: 34px !important;
    color: red;
    display: flex;
    left: 23px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.mhole-mobile .mhole-content .mhole-alert label,
.mhole-mobile .mhole-content .mhole-alert input,
.mhole-mobile .mhole-content .mhole-alert button{
  border: 3px solid orange;
  padding: 1px;
  background: #fff;
  z-index: 1;
}

.mhole-mobile .mhole-content .mhole-alert input{
  outline: none;
  max-width: 90px;
  position: relative;
  text-align: right;
}

.disableBtn{
  opacity: 0.5;
}


.mhole-mobile .mhole-content .mhole-alert .cross-btn{
  position: absolute;
  top: -15px;
  right: -8px;
  border: none;
  outline: none;
  background: none;
  z-index: 1;
  font-size: 18px;
}

.mhole-mobile .mhole-content .traingles {
  position: absolute !important;
  top: 130px;
  left: 0;
}

.mhole-mobile .mhole-content .squares{
  position: absolute;
  top: 235px;
  left: 0;
}
.mhole-mobile .mhole-content .circles{
  position: absolute;
  top: 340px;
  left: 0;
}
.mhole-mobile .mhole-content .boundaryTwo{
  position: absolute;
  top: 438px;
  left: 0;
}
.mhole-mobile .mhole-content .mhole-alert.boundaryOne label,.mhole-mobile .mhole-content .mhole-alert.boundaryTwo label {
  border: 3px solid red;
}

.mhole-mobile .mhole-content .mhole-alert.boundaryOne input#fullValue, .mhole-mobile .mhole-content .mhole-alert.boundaryTwo input#emptyValue {
  border: 3px solid red;
  border-radius: 0;
}

.mhole-mobile .mhole-content .traingles label,
.mhole-mobile .mhole-content .squares label,
.mhole-mobile .mhole-content .circles label,
.mhole-mobile .mhole-content .traingles input,
.mhole-mobile .mhole-content .squares input,
.mhole-mobile .mhole-content .circles input
{
  border: 3px solid orange;
}


.mhole-mobile .mhole-content .traingles::after,
.mhole-mobile .mhole-content .squares::after,
.mhole-mobile .mhole-content .circles::after{
  position: absolute;
    right: 103px;
    content: "";
    background: url(../../img/triangle.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    top: 35px;
}

.mhole-mobile .mhole-content .squares::after{
  background: url(../../img/square.svg);
  background-repeat: no-repeat;
}
.mhole-mobile .mhole-content .circles::after{
  background: url(../../img/circle.svg);
  background-repeat: no-repeat;
}

.mhole-mobile .mhole-content .mhole-text{
max-width: 215px;
width: 100%;
display: flex;
justify-content: end;
}

.mhole-mobile .mhole-content .mhole-text p{
  background: #fff;
  z-index: 1;
  margin-left: 132px;
}

.mhole-mobile .mhole-content .mhole-text p::before{
  position: absolute;
  content: "";
  border: 1px solid red;
  width: 29%;
  top: 35px;
  margin-left: -100px;
}

.mhole-mobile .alert-input{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 15px;
}
.mhole-mobile .alert-input input{
  max-width: 65px;
  width: 100%;
  border: 2px solid orange;
  text-align: center;
  padding: 5px 0;
  padding-right: 30px;
}

button.upbtn, button.downbtn {
  height: 20px;
  width: 20px;
  background: none;
  border: none;
  position: absolute;
  right: 5px;
  top: 0;
  box-shadow: none;
  display: flex;
    align-items: center;
    justify-content: center;
}
button.downbtn{
  top: unset;
  bottom: 0;
}
button.upbtn img,button.downbtn img {
  max-width: 100%;
  width: 100%;
}
div#myform {
  position: relative;
  max-width: 65px;
  width: 100%;
}

.mhole-mobile .alert-input p{
  margin-bottom: 0px;
  padding: 4px 12px;
  border: 2px solid orange;
  margin-left: 2px;
}

.mhole-mobile .alert-checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.mhole-mobile .alert-checkbox label{
  padding: 2px 5px;
  border: 1px solid #cccccc45;
  border-radius: 4px;
}

.mhole-mobile .buttons{
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  margin-top: 30px;
  padding: 0 8px 0;
  /* flex-direction: column; */
  /* gap: 10px; */
  /* margin-left: 20px; */
}

.mhole-mobile .save-btn{
  /* outline: none;
  border: 1px solid #000;
  background: rgb(91 180 91);;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  padding: 4px 30px; */
  width: 50%;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 6px;
  color: #fff;
  background: rgb(91 180 91);
  border: 1px solid #000;
  outline: none;
  /* padding: 5px 15px 5px 15px; */
  padding: 15px 5px 15px 5px;
}
.mhole-mobile .cancel-btn{
  width: 50%;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 6px;
  color: #fff;
  background: #b40505;
  border: 1px solid #000;
  outline: none;
  /* padding: 5px 15px 5px 15px; */
  padding: 15px 5px 15px 5px;
 
}

.mhole-mobile .edit-btn{
  color: white;
  position: absolute;
  top: 5px;
  border: 1px solid white;
  border-radius: 9px;
  background: blue;
  padding: 3px;
  font-size: 16px;
  right: 15px;
  left: unset;
  text-decoration: none;
  z-index: 9999999;
}

.mhole-mobile .alert-input button.addbtn {
  background: orange;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 10px 15px;
  max-width: 150px;
  width: 100%;
  margin-top: 15px;
  border: 3px solid transparent;
  font-weight: bold;
  margin-left: 20px;
  font-size: 20px;
}
.mhole-mobile .alert-input button.delbtn {
  background: red;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 10px 15px;
  max-width: 150px;
  width: 100%;
  margin-top: 15px;
  border: 3px solid transparent;
  font-weight: bold;
  margin-right: 20px;
  font-size: 20px;
}
.modal-submit{
  background: rgb(91 180 91);
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  padding: 4px 30px;
  border: 3px solid #2f782f;
}
.modal-close{
  background: #b40505;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  padding: 4px 22px;
  border: 3px solid #970d0d;
}

.mhole-mobile .alert-input button.disable-alert {
  background: grey;
  color: #cbcbcb;
  border: 3px solid #212121;
  pointer-events: none;
}
body { font-family: sans-serif; }
.alertLight {
  position: relative;
}
.alertLight:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: #ffff;
  opacity: 0.5;
  height: 100%;
    width: 100%;
}
.error-msg{
  color: #f9cb00;
    font-size: 12px;
}
.logo-tracNet {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.data__table {
color: #fff;
}

.data__table .ng-scope {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* row-gap: 5px; */
}

.data__table .ng-scope label {
    width: 65%;
}

 .data__table .alertValue .ng-binding {
    width: 30%;
    background: #0e64d2;
    text-align: center;
    padding: 0 5px;
    margin-bottom: 5px;
} 

.data__table p {
    /* display: flex; */
    width: 100%;
    /* gap: 15px; */
    font-size: 20px;
}
.modal-container.ng-scope .modal-content {
    background-color: transparent;
}
.modal-container{
	z-index: 9999;
}
/* .mhole-mobile .alert-input input{
	max-width: 35px;
    border: 1px solid #fff900;
    background: #fff900;
    text-align: center;
    margin: 0 10px;
} */


/*responsive css */
@media (max-width:500px){
  .input__radiobutton .form-check input {
    width: 10px;
    height: 12px;
    margin-top: 6px;
}
.main__form label {
  font-weight: 400;
  font-size: 12px;
 
}
.input__radiobutton .form-check {

  padding: 8px 15px 10px 25px;
 
}
}
@media (max-width: 768px) {
  .main__form .label__block label {

  display: none;
  }
  .group_sections label{
    display: none;
  }
  
  .wrap__block_sticky .hide__block__input {
 
    gap: 5px 19px;
    padding-bottom:5px; 
  }
  
  .wrap__block_sticky .portal__section label{
    display: none;
  }
 .wrap__block_sticky .group_sections
 label{
    display: none;
  }
  .wrap__block_sticky .flx__bx label{
    display: none;
  }
  .wrap__block_sticky .flx__bx {
    padding-bottom: 0px;
    gap: 0px 10px;
}
.list__block__bg{
  width: 97%;
}
  .portal__section {
    max-width: 100%;
    width: 100%;
  }

  .wrap__block_sticky p {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .group_sections {
    max-width: 100%;
    width: 100%;
  }

  .label__block {
    max-width: 100%;
    padding-bottom: 5px;
  }

  .flx__bx {
    gap: 20px 10px;
  }
  label .visibleLabel{
    color: #fff;
  }
  .bg__login .loginMain {
    padding: 0px 24px;
  }

  .wrap__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .owl-carousel {
    max-width: 100%;
    padding-right: 100px;
  }

  img.user__upload {
    max-width: 100%;
  }

  .main__form input {
    max-width: 97%;
    height: 35px;
        color: #000;
  }
  .main__form input {
    max-width: 97%;
    height: 35px;
        color: #000;
  }
.main__form input::placeholder {
   
        color: #000;
  }

  .main__form select {
    max-width: 97%;
    height: 35px;
        color: #000;
  }

  .label__upload {
    max-width: 100%;

  }

  button.location__btn {

    padding-left: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

  }

  .main__form {
    gap: 10px 0px;
  }
.input__radiobutton{
margin-bottom: 10px;
}
  .btn-wrap button {
    z-index: 99999;
  }

  .form__block {
    padding: 50px 20px;
  }

  .form__grid .logo__block img {

    padding: 0px 20px;
    width: 100%;
  }



.meterTracLogo {
  height: 90%;
}
header img {
  height: 90%;
  max-width: 200px;
  width: 100%;
  max-height: 50px;
  height: 100%;
  object-fit: contain;
}

.loginMain {
  background-color: #525252;
  height: 86vh;
}

.loginInner {
  padding: 2.5rem;
  /* background-color: #dddddd; */
}

.loginInput {
  height: 30px;
  width: 100%;
  color: #666666;
}

.loginBtn {
  border: 1px solid #0490d0;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  background-color: #0490d0;
  color: #ffffff;
}

.formMarginBottom {
  margin-bottom: 1.0rem;
}

.errorMessage {
  color: #cc1520;
}

.activeInput {
  border: 2px solid #cc1520;
}

.inputNoMarginBottom {
  margin-bottom: 0rem;
}

.marginBot {
  margin-bottom: 1.0rem;
}

.ozgeenLogo {
  background-color: #FFFFFF;
  height: 50px;
}

.loginFooter {
  height: 7vh;
  flex-direction: column;
  font-size: 0.9rem;
  color: #FFFFFF;
  background-color: #2f2f2f;
}

/* Larger than tablet */
@media (min-width: 750px) {
  .loginFooter {
    font-size: 1.3rem;
  }
}

/* styles for main.html */
.rightSideBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #525252;
  color: #e6e6e6;
  height: 93vh;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 7vh;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  width: 0%;
  z-index: 10003;
}

.sideBarActive {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  width: 80%;
}

.yScrollbar {
  overflow-y: auto;
}

.paddingTop {
  padding-top: 5px;
}

.noStyleType {
  list-style-type: none;
}

.listItemActive {
  background-color: #e77019;
}
#refreshLog {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  color: #ffff;
}
#refreshLog span{
  color: #ffff;
}

#refreshLog button{
  border-color: black;
  border-radius: 17%;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.settingsContainerTop {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.settingsContainerBottom {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.navBtn {
  color: #FFFFFF;
  background-color: #707070;
  width: 96%;
  height: 10%;
}

.navBtnActive {
  color: #FFFFFF;
  background-color: #7ba1c7;
  width: 96%;
  height: 10%;
}

.mainHeader {
  background-color: white;
  color: #ffffff;
  height: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}

.headerLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 85%;
  padding-left: 10px;
}

.headerSideBar {
  width: 15%;
  color: black;
}

.h5 {
  margin-bottom: 0rem;
}

.mainMain {
  background-color: #eeeeee;
  height: 86vh;
  flex-direction: column;
  display: flex;
  overflow-y: auto;
}

.mainFooter {
  color: #ffffff;
  background-color: #2f2f2f;
  height: 7vh;
  flex-direction: column;
  font-size: 0.9rem;
}

@media (min-width: 750px) {
  .mainFooter {
    font-size: 1.3rem;
  }
}

/* Utility styles */

a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

button {
  height: 3em;
  /* width: 70px; */
  border: 1px solid #0490d0;
  background-color: #0490d0;
  color: #ffffff;
  box-shadow: rgb(84, 163, 247) 0px 1px 0px 0px inset;
  background: linear-gradient(rgb(0, 125, 193) 5%, rgb(0, 97, 167) 100%) rgb(0, 125, 193);
  border: 1px solid rgb(18, 77, 119);
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  /* font-family: Arial; */
  /* font-size: 13px; */
  /* padding: 6px 24px; */
  text-decoration: none;
  text-shadow: rgb(21, 70, 130) 0px 1px 0px;
}

.marginTop {
  margin-top: 1.0rem;
}

/* Styles for chart.html */

.chartContainerLoading {
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  z-index: 9999;
}

.chartControlContent {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  min-height: 15vh;
  width: 100%;
  padding: 0.2em;
}

.chartControlContent2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 100%;
}

.chartControlRow2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.chartControlRowTop2 {
  width: 100%;
  height: 50%;
}

.chartControlRowTop {
  width: 100%;
  height: 33.333333333%;
}

.chartControlRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  flex-direction: row;
}

.controlTableContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14%;
}

.tableIcon {
  height: auto;
  width: auto;
  max-width: 30px;
  max-height: 30px;
}

.controlDatepickerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
}

.controlDatepickerContent2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.controlObject {
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
}

.controlIntFoldContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 34%;
}

.chartContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
  width: 96%;
}

.chartContent_chart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 100%; */
  width: 100%;
  /* margin-bottom: 0; */
  flex-grow: 1;
}

.chartContent_Control {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  flex-direction: column;
  /* height: 100%; */
  width: 100%;
  /* overflow-y: scroll; */
  flex-grow: 1;
}

.chartContent2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 65vh;
  width: 96%;
}

.chartContent2_cal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* min-height: 67vh; */
  width: 100%;
  flex-grow: 1;
  float: left;
  /* height: 93%; */
  padding: 0.5em;
}

.chartTitle {
  /* background-color: #e3e3e3; */
  /* border: 1px solid #000000; */
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  height: 7vh;
  width: 50%;
  /* cursor: pointer; */
  float: left;
  box-sizing: border-box;
}

.measurementLeft {
  min-height: 10vh;
  width: 15%;
  border-right: 1px solid #000000;
}

.measurementLeft:hover {
  cursor: pointer;
}

.measurementLeft_calcontrol {
  /* min-height: 10vh; */
  /* width: 100%; */
  float: left;
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}

.measurementLeft_calcontrol:hover {
  cursor: pointer;
}

.measurementMiddle {
  min-height: 10vh;
  width: 70%;
}

.measurementMiddle_selection {
  height: 100%;
  width: 100%;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  padding: 0.3em;
  cursor: pointer;
  background: #ffffff;
  color: #000;
  border: 1px solid;
  box-shadow: rgb(84, 163, 247) 0px 1px 0px 0px inset;
  background: linear-gradient(rgb(0, 125, 193) 5%, rgb(0, 97, 167) 100%) rgb(0, 125, 193);
  border: 1px solid rgb(18, 77, 119);
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: Arial;
  /* font-size: 13px; */
  /* padding: 6px 24px; */
  text-decoration: none;
  text-shadow: rgb(21, 70, 130) 0px 1px 0px;
}

.measurementMiddle_selection2 {
  height: 100%;
  width: 100%;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  padding: 0.3em;
  cursor: pointer;
  background: #ffffff;
  color: #000;
  /* border: 1px solid; */
  /* box-shadow: rgb(84, 163, 247) 0px 1px 0px 0px inset; */
  /* background: linear-gradient(rgb(0, 125, 193) 5%, rgb(0, 97, 167) 100%) rgb(0, 125, 193); */
  /* border: 1px solid rgb(18, 77, 119); */
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  /* font-size: 13px; */
  /* padding: 6px 24px; */
  /* text-decoration: none; */
  /* text-shadow: rgb(21, 70, 130) 0px 1px 0px; */
}

.measurementRight {
  min-height: 10vh;
  width: 15%;
  border-left: 1px solid #000000;
}

.measurementRight:hover {
  cursor: pointer;
}

.chartContainer {
  position: relative;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  min-height: 40vh;
  width: 100%;
}

.chartContainer_chart {
  position: relative;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  /* min-height: 79vh; */
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chartContainer_chart2 {
  position: relative;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chartContainer_cal {
  position: relative;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  /* min-height: 47vh; */
  width: 100%;
  flex-grow: 1;
}

.dataDisplayChart {
  height: 100%;
  width: 100%;
  position: absolute;
}


.dataDisplayChart2 {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.runtimeTitle {
  background-color: rgb(127, 197, 247);
  color: #000000;
  height: 15%;
  width: 100%;
}


#runtimeChart {
  height: 85%;
  width: 100%;
}

.dataDisplayTable {
  border: 2px solid #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  background-color: #FFFFFF;
}

table {
  height: 100%;
  width: 100%;
}

table tbody tr {
  height: 30px;
  border-left: 0;
  border-right: 0;
  border: 0.5px solid #fff;
}

table td {
  font-size: 0.6em;
  text-align: center;
  vertical-align: middle;
  border-bottom: solid 2px #000000;
  border-top: solid 2px #000000;
}

table th {
  height: 30px;
  border-bottom: solid 2px #000000;
  font-weight: bold;
  color: #000000;
  font-size: 0.7em;
  text-align: center;
  vertical-align: middle;
}

#chart {
  height: 100%;
  width: 99.9%;
}

.chartMeasurementContainer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 5vh;
  width: 100%;
  background-color: #FFFFFF;
}

.chartMeasurementContainer2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* min-height: 10vh; */
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 0;
}

.chartMeasurementRow {
  /* min-height: 10vh; */
  width: 100%;
  display: flex;
  flex-grow: 0;
}

.wizardPageBtn {
  border: 2px solid #000000;
  background-color: #FFFFFF;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-bottom: 0rem;
}

.wizardPageBtnActive {
  border: 2px solid #000000;
  background-color: #000000;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-bottom: 0rem;
}

.utlLeftPadding {
  margin-left: 20px;
}

.chartWaterTypeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 96%;
  min-height: 10vh;
}

.chartWaterTypeRow {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5vh;
  width: 100%;
}

.maintenanceBtn {
  height: 5vh;
}

.legendButton {
  min-height: 8vh;
  border-radius: 5px;
  width: 50%;
  background-color: #ffffff;
  border: 2px solid #292929;
  color: #fff;
  font-size: xx-small;
  float: left;
  margin-bottom: 0rem;
}

.legendButton:hover {
  background-color: #d3f0ff;
}

.legendButton:focus {
  background-color: #d3f0ff;
}

.legendButtonSite {
  min-height: 8vh;
  width: 100%;
  background-color: #ffffff;
  color: #111;
  font-size: xx-small;
  float: left;
  margin-bottom: 0rem;
}

.legendButtonSite:hover {
  background-color: #d3f0ff;
}

.legendButtonSite:focus {
  background-color: #d3f0ff;
}

.legendButtonOn {
  min-height: 8vh;
  border-radius: 5px;
  height: 100%;
  width: 50%;
  background-color: #afd8ed;
  border: 2px solid #292929;
  font-size: small;
  color: #111;
}

.legendButtonOn:hover {
  background-color: #d3f0ff;
}

.legendButtonOn:focus {
  background-color: #d3f0ff;
}

.chartLegendContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-y: scroll; */
  flex-grow: 1;
}

.chartUpdateContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10em;
  /* margin: 0.5em; */
}

.chartUpdateContainer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7vh;
}

.chartLegendRowMeter {
  border: 1px solid;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 98%;
}

.itemSite {
  padding: 0.5rem;
  width: 100%;
  flex-grow: 1;
  height: 100%;
  display: contents;
  padding: column;
}

.itemSiteTitle {
  padding: 0.3rem;
  width: 100%;
}

.itemSiteTitleLeft {
  width: 15%;
}

.itemSiteTitleMiddle {
  width: 70%;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5);
  /* IE */
  -moz-transform: scale(1.5);
  /* FF */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
}

.itemSiteTitleRight {
  width: 15%;
}

.itemSiteTitle:hover {
  cursor: pointer;
}

.tableInput {
  height: 90%;
  width: 100%;
}

.opacity_inactive {
  opacity: 0.5;
}

.meter1 {
  border-top: 4px solid rgb(31, 119, 180);
}

.meter2 {
  border-top: 4px solid rgb(255, 127, 14);
}

.meter3 {
  border-top: 4px solid rgb(44, 160, 44);
}

.meter4 {
  border-top: 4px solid rgb(214, 39, 40);
}

.meter5 {
  border-top: 4px solid rgb(148, 103, 189);
}

.meter6 {
  border-top: 4px solid rgb(140, 86, 75);
}

.meter7 {
  border-top: 4px solid rgb(227, 119, 194);
}

.meter8 {
  border-top: 4px solid rgb(127, 127, 127);
}

.meter9 {
  border-top: 4px solid rgb(188, 189, 34);
}

/* Styles for chart.html */

.tableControlContent {
  height: 7vh;
  width: 50%;
  border: 1px solid;
  background: #fff;
  float: left;
  box-sizing: border-box;
  box-shadow: rgb(84, 163, 247) 0px 1px 0px 0px inset;
  background: linear-gradient(rgb(0, 125, 193) 5%, rgb(0, 97, 167) 100%) rgb(0, 125, 193);
  border: 1px solid rgb(18, 77, 119);
  /* display: inline-block; */
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-shadow: rgb(21, 70, 130) 0px 1px 0px;
}

.tableControlRow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}


.tableContainer {
  background-color: #FFFFFF;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  min-height: 40vh;
  width: 100%;
}

.dataTable {
  height: 100%;
  width: 100%;
  overflow: auto;
}

/* Styles for calibration.html */
.clockContainer {
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  height: 2em;
  font-size: 2em;
}

/* Styles for about.html */
/* Larger than tablet */
@media (max-width: 750px) {
  .aboutMain {
    font-size: 0.8em;
  }
}

.aboutMain {
  height: 100%;
  width: 100%;
  color: #000000;
  background-color: #FFFFFF;
}

.aboutContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80%;
  width: 80%;
  border: 6px solid #525252;
}

.meterTracLogoAbout {
  width: 100%;
}

.aboutText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  min-height: 25vh;
}

.aboutTextRow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 100%;
}

.aboutLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 20vh;
}

/*Modal*/
/*  */

@media (min-width: 1706px) {
  .bg__login {
    height: calc(100vh - 138px);
  }
}

@media (min-width: 1920px) {
  .bg__login {

    align-items: center;
    height: calc(100vh - 145px);
  }
}

@media (min-width: 2048px) {
  .bg__login {

    align-items: center;
    height: calc(100vh - 150px);
  }
}

@media (min-width: 2080px) {
  .bg__login {
    align-items: center;
    height: calc(100vh - 159px);
  }
}

@media (min-width: 3072px) {
  .bg__login {
    align-items: center;
    height: calc(100vh - 184px);
  }
}

@media (min-width: 4608px) {
  .bg__login {
    align-items: center;
    height: calc(100vh - 237px);
  }
}

@media (min-width: 6144px) {
  .bg__login {
    align-items: center;
    height: calc(100vh - 289px);
  }
}

.data__table lable{
  display: none;
}
@media (max-width:661px){
.data__table table tbody tr {
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: 100%;
    min-width: 100px;
    background: #BFBFBF;
    min-height: 60px;
    margin-bottom: 15px;
    align-items: center;
    height: unset;
}
.data__table table tbody tr:nth-child(2n) {
  background: #fff;
}
.data__table table tbody tr td {
  min-width: 20px;
  border: 0;
  min-height: 20px;
  color: #000;
  padding: 5px;
}
.data__table table{
  background: none;
}
.form__grid{
  padding-bottom: 20px;
}
.data__table lable {
  color: #fff;
  font-size: 22px;
  line-height: 45px;
}
.data__table table tr:first-child {
  display: none;
}
.data__table{
  padding-bottom: 0 ;
}
.data__table lable {
  display: block;
}
.warp__slider .owl-carousel{
  padding: 0;
}
}
.label__block .btn-group {
  display: flex;
  gap: 0px;
}
.label__block .btn-group .installed {
  background: green;
  border: 1px solid green;
  border-radius: 0;
  box-shadow: none;
  max-width: calc(50% - 5px);
  color: #fff;
  width: 100%;
}
.label__block .btn-group .notInstalled {
  background: #FF4040;
  border: 1px solid #FF4040;
  border-radius: 0;
  box-shadow: none;
  max-width: calc(50% - 5px);
  color: #fff;
  width: 100%;
}
.wrap__block_sticky .flx__bx label.visible-label {
  display: block;
  padding-bottom: 2px;
}

.disabled-btn-custom {
  opacity: 0.5;
}
.error-msg {
  display: none;
}
.error-msg.has-error {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  width: calc(100% - 8px);
}
span.select2-dropdown.select2-dropdown--below{
  top: 0px;
  z-index: 999999;
}
.select2-results__option{
  font-size: 12px;
}
.select2-container--default .select2-selection--single{
  border-radius: 8px !important;
  padding-top: 5px;
  height: 35px !important;
}
}


.alert-box{
  position: absolute;
    top: 34px;
    display: flex;
    width: 130px;
    flex-wrap: wrap;
    left: 57%;
    font-size: 11px;
    color: red;
}
.mhole-mobile .mhole-content .traingles label,.mhole-alert.squares label,.mhole-alert.circles label {
  margin-left: -33px;
}
.mhole-alert.boundaryOne span.classmm {
  right: -35px;
}
@media(max-width: 410px){
  .mhole-alert .classmm{
    right: 4px;
  }
}