<style>
	body {
		font-family: sans-serif;
	}

	#confirmBox {
		display: none;
		background-color: #eee;
		border-radius: 14px;
		border: 1px solid #aaa;
		position: fixed;
		width: 30%;
		left: 40%;
		top: 40%;
		margin-left: -82px;
		padding: 50px 26px 49px;
		box-sizing: border-box;
		text-align: center;
		z-index: 99999;
	}

	#confirmBox .button {
		background-color: #ccc;
		display: inline-block;
		border-radius: 12px;
		border: 0px solid #aaa;
		padding: 20px;
		text-align: center;
		width: 150px;
		cursor: pointer;
	}

	#confirmBox .button:hover {
		background-color: #ddd;
	}

	#confirmBox .message {
		text-align: center;
		margin-bottom: 8px;
	}

	.bgColor0 {
		background: #fff !important;
	}

	.opacity0 {
		opacity: 0.5;
	}
</style>
<div class="homepage">

	<div id="confirmBox">
		<div class="message"></div>
		<span class="button yes disable">{{ btnValue }}</span>
		<span class="button no disable"> Delete</span>
	</div>
	<div class="withtree map-100">
		<div class="viewtemplateInner">
			<div class="homemaparea" id="item">
				<div id="homeMap" class="homeleft">
				</div>
			</div>
		</div>
		<div class="legend-button">
			<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
				<button type="button" class="btn btn-primary" ng-click='addMarker1("all clear")'>
					<div class="icoBg"><img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png" /></div>
					<div class="icoBg">
						<span>All Clear</span>
					</div>
				</button>
				<button type="button" class="btn btn-primary" ng-click='addMarker1("all alarms")'>
					<div class="icoBg"><img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" /></div>
					<div class="icoBg">
						<span>Alarm</span>
					</div>
				</button>
				<button type="button" class="btn btn-primary" ng-click='addMarker1("triangle")'>
					<div class="icoBg"><img src="img/triangle.svg" /></div>
					<div class="icoBg">
						<span>Distance Alert 3</span>
					</div>
				</button>
				<button type="button" class="btn btn-primary" ng-click='addMarker1("square")'>
					<div class="icoBg"><img src="img/square.svg" /></div>
					<div class="icoBg">
						<span>Distance Alert 2</span>
					</div>
				</button>
				<button type="button" class="btn btn-primary" ng-click='addMarker1("circle")'>
					<div class="icoBg"><img src="img/circle.svg" /></div>
					<div class="icoBg">
						<span>Distance Alert 1</span>
					</div>
				</button>
			</div>
		</div>

		<div class="view-style">
			<button class="reset_btn" ng-click="resetMapClick()">Reset</button>
			<div class="cale-ico">

				<img src="img/collapse.png" alt="">
			</div>
			<select ng-model="installation_name" id="" ng-change="GetTableItemsBySlected(installation_name)"
				ng-options="inst_item as inst_item.installationName for inst_item in dataLocation">
				<option ng-selected="true" value="">Select Installation...</option>
			</select>
		</div>
		<script>
			// map width inc desc
			$('.cale-ico').on('click', function () {
				$('body').find('.withtree').toggleClass('map-50');
			});
		</script>
	</div>
	<div class="side-det" style="text-align: center;">
		<table class="elem" data-ng-init="init()" style="bottom: 1px solid black;">
			<thead style="background-color: #202227">
				<tr style="color: aliceblue;">
					<th>Site</th>
					<th>Distance</th>
					<th>Angle</th>
					<th>Last <br>
						Comm.</th>
				</tr>
			</thead>
			<tbody>
				<a href="#">
					<tr ng-repeat="item in sortedArray_1 | filter : installation_name "
						ng-click="GetTableItemsByClick(item)">
						<td style="word-wrap: normal;" class="changeMouse">{{item.installationName}}
							<br>{{item.street}}
						</td>
						<!-- <td class="changeMouse"
							ng-class="{'tdAllClear': item.disColorRank == 3  , 'alarmColor': item.distance_alarm_tr === 'Distance alarm Triggered', 'alertColor':  item.distance_alarm_tr === 'Distance alert Triggered' }">
							{{ item.relative_distance }}% <br>{{item.distance | number : fractionSize }}mm</td> -->
						<td class="changeMouse"
							ng-class="{'tdAllClear': item.disColorRank == 3, 'alarmColor': item.distance_alarm_tr === 'Distance alarm Triggered', 'alertColor': item.distance_alarm_tr === 'Distance alert Triggered' }">
							<span>{{ item.relative_distance }}%</span>
							<span ng-if="item.distance > 0"> <br>{{item.distance | number
								:
								fractionSize }}mm</span>
						</td>

						<td class="changeMouse"
							ng-class="{'tdAllClear': item.angleColorRank == 3, 'alarmColor': item.angle_alarm_tr === 'Angle alarm Triggered', 'alertColor': item.angle_alarm_tr === 'Angle alert Triggered' }">
							{{item.angle}} deg.</td>
						<td class="changeMouse"
							ng-class="{'tdAllClear': item.lastCommColorRank == 3, 'alarmColor': item.lastComm_alarm_tr === 'Communications alarm Triggered', 'alertColor': item.lastComm_alarm_tr === 'Communications alert Triggered', 'alarmColor': item.last_comm_color === 'red' }">
							{{item.oldest_comm_date}}</td>
					</tr>
				</a>
			</tbody>
		</table>
	</div>
	<!-- Popup start -->
	<div id="popupModalCenter" class="modal d-block" tabindex="-1" role="dialog" aria-labelledby="popupCenterTitle">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="popup-wrap">
					<button type="button" class="close-button" ng-click="closeModal()" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<form action="" id="myForm" autocomplete="off">
						<section class="mhole">
							<div class="mhole-mobile">
								<h4>Manhole Specifications</h4>
								<div class="mhole-image">
									<img src="img/inner-image.png" alt="">
								</div>
								<div class="mhole-content">
									<div class="mhole-text">
										<p>TracNet Sensor</p>
									</div>
									<div class="mhole-alert boundaryOne">
										<label for="">Full (100%)</label>
										<input type="text" onkeypress="return isNumber(event)" name="fullValue"
											id="fullValue" value="{{pointSettingData.full}}"
											ng-change="onInputChange('fullVal')" ng-model="fullVal"><span
											class="classmm">mm</span>
										<span id="errorname"
											style="display: none; color: red; position: absolute; top: 33px; right: -19px;">Invalid
											value*</span>
									</div>
									<div class="mhole-alert traingles">
										<samp class="alt-status">{{altStatus3}}</samp>
										<label class="{{addAlt3Class}}" for="">Distance Alert 3</label>
										<input type="text" class="{{addAlt3Class}}" onkeypress="return isNumber(event)"
											name="alert3" id="alert3" ng-model="alert3"
											ng-change="onInputChange('alert3')"
											value="{{pointSettingData.alarmThird}}"><span class="classmm">mm</span>
										<span class="disTrigger" ng-if="disAlt3">{{disAlt3}}%</span>
										<span ng-show="alrErr" class="alert-show">{{ errorAlt3 }}</span>
									</div>
									<div class="mhole-alert squares">
										<samp class="alt-status">{{altStatus2}}</samp>
										<label class="{{addAlt2Class}}" for="">Distance Alert 2</label>
										<input type="text" class="{{addAlt2Class}}" onkeypress="return isNumber(event)"
											name="alert2" id="alert2" ng-model="alert2"
											ng-change="onInputChange('alert2')"
											value="{{pointSettingData.alarmSecond}}"><span class="classmm">mm</span>
										<span class="disTrigger" ng-if="disAlt2">{{disAlt2}}%</span>
										<span ng-show="alrErr" class="alert-show">{{ errorAlt2 }}</span>
									</div>
									<div class="mhole-alert circles">
										<samp class="alt-status">{{altStatus1}}</samp>
										<label class="{{addAlt1Class}}" for="">Distance Alert 1</label>
										<input type="text" class="{{addAlt1Class}}" onkeypress="return isNumber(event)"
											name="alert1" id="alert1" ng-model="alert1"
											ng-change="onInputChange('alert1')"
											value="{{pointSettingData.alarmFirst}}"><span class="classmm">mm</span>
										<span class="disTrigger" ng-if="disAlt1">{{disAlt1}}%</span>
										<span ng-show="alrErr" class="alert-show">{{ errorAlt1 }}</span>
									</div>
									<div class="mhole-alert boundaryTwo">
										<label for="">Empty (0%)</label>
										<input type="text" onkeypress="return isNumber(event)" name="emptyValue"
											id="emptyValue" ng-change="onInputChange('emptyVal')"
											value="{{pointSettingData.empty}}" ng-model="emptyVal"><span
											class="classmm">mm</span>
										<span id="errorn"
											style="display: none; color: red; position: absolute; top: 33px; right: -19px;">Invalid
											value*</span>
									</div>
								</div>

								<div class="alert-checkbox buttons">
									<input type="button" value="Save Changes" ng-click="saveAlertData()"
										class="save-btn submit__btn" ng-disabled="errorstatus">
									<input type="button" class="cancel-btn reset__btn" value="Cancel, Go Back"
										ng-click="closeModal()" />
								</div>
								<a href="" class="edit-btn" ng-click="resetAlert()">Reset All Alerts</a>
							</div>
						</section>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--ends-->
	<div class="loader" ng-show="isLoading">
		<div class="loader-spinner"></div>
	</div>
	<script>
		$(document).on("click", ".hideBoundaries", function () {
			if ($(this).is(":checked")) {
				$(".boundaryTwo").hide();
				$(".boundaryOne").hide();
			} else {
				$(".boundaryTwo").show();
				$(".boundaryOne").show();
			}
		});
		$(document).on("click", ".hideAlerts", function () {
			if ($(this).is(":checked")) {
				$('.circles').hide();
				$('.traingles').hide();
				$('.squares').hide();
			} else {
				$('.circles').show();
				$('.traingles').show();
				$('.squares').show();
			}
		});

		$(document).on("input", "#fullValue", function () {
			var fValue = $(this).val();
			if (parseInt(fValue) >= 400 && parseInt(fValue) <= 3998) {
				$('#errorname').hide();
				$('.save-btn').removeClass("disabledprop");
			} else {
				$('#errorname').show();
				$('.save-btn').addClass("disabledprop");
				return false;
			}
		});
		$(document).on("input", "#emptyValue", function () {
			var fullValue = $('#fullValue').val();
			var eValue = $(this).val();
			if ((parseInt(eValue) > parseInt(fullValue) && parseInt(eValue) <= 3998)) {
				$('#errorn').hide();
				$('.save-btn').removeClass("disabledprop");
			} else {
				$('#errorn').show();
				$('.save-btn').addClass("disabledprop");
			}
		});

		// popup start cancel-btn
		$(document).ready(function () {
			$(".close-button").click(function () {
				$("#popupModalCenter").removeClass("show-modal");
			});
		});
		$(document).ready(function () {
			$(".cancel-btn").click(function () {
				$("#popupModalCenter").removeClass("show-modal");
			});
		});
		// popup end
		function isNumber(evt) {
			evt = (evt) ? evt : window.event;
			var charCode = (evt.which) ? evt.which : evt.keyCode;
			if (charCode > 31 && (charCode < 48 || charCode > 57)) {
				return false;
			}
			return true;
		}

	</script>

	<style>
		.gm-style-mtc {
			display: none;
		}
	</style>