<style>
	.errorMessage{
		color: #f9cb00;
    font-size: 12px;
	}
  .logo-222{
    display: flex;
    justify-content: space-between;
  }
</style>
<header class="container">
  <div class="loginHeader login__header__mob logo-222">
    <img class="meterTracLogo" src="img/tracwater.png" alt="TracWater logo">
		
		<img class="meterTracLogo" src="/_common/img/Final-Logo.png" alt="tracwater logo">
  </div>
</header>
<main class="bg__login">
  <div class="row loginMain flexBoxCenter">
    <div class="loginInner">
      <form class="formMarginBottom" ng-submit="doLogin()">
        <div class="twelve columns">
          <label class="marginBot">Username <span class="orange">*</span></label>
          <input class="marginBot loginInput" autocomplete="off" autocapitalize="off" type="text" ng-model="username" placeholder="Enter your username" class="u-full-width">
        </div>
        <div class="twelve columns">
          <label class="marginBot">Password <span class="orange">*</span></label>
          <input class="marginBot loginInput" type="password" ng-model="password" placeholder="Enter your password" class="u-full-width">
        </div>
        <input class="loginBtn inputNoMarginBottom" value="Login" type="submit">
      </form>
      <span class="errorMessage" ng-model="loginError">{{loginError}}</span>
    </div>
  </div>
</main>
<footer>
	<div class="mainFooter flexBoxCenter">
	  <span style="text-align: center;"> &copy;{{thisyear}} TracNet Pty Ltd. </span>
	  <span style="text-align: center;">Terms of Use and Privacy Policy are applicable to you.  All rights reserved. </span>
	</div>
  </footer>