<!-- Main Content Header , Content and Footer Area -->
<header>
	<div class="loginHeader flexBoxCenter">
		<div class="loginSides alignLeft"><img class="sydneyWt_logo" src="/_common/img/tracwater.png"
				alt="cityofgoldcoast logo"></div>
		<img class="meterTracLogo" src="/_common/img/Final-Logo.png" alt="tracwater logo">

		<div class="navButtons">
			<div class="img_tg_tp" ng-click="toggleMenu()">
				<img id="tgl-sh-hd" src="img/tg_menu.png">
			</div>
			<div class="topnavbuttons">
				<button id="{{navItem.link}}" ng-class="{ 'navMenuButton-checked' : $index == selectedNavIndex }"
					class="navMenuButton" ng-click='changeTemplate($index)' ng-repeat="navItem in navigationArray">
					<span> {{navItem.name}} </span>
					<button class="navMenuButton font-btn" ng-click='signOut()'>
						<span><i class="fa fa-sign-out-alt" aria-hidden="true"></i></span>
					</button>
			</div>
		</div>
		<img class="meterTracLogo" src="/_common/img/Final-Logo.png" alt="tracwater logo">
	</div>
</header>

<main>
	<div class="mainMain flexBoxCenter" style="background-color: white;">
		<div class="mainTemplate" ui-view>
		</div>
	</div>
</main>

<footer>
	<div class="loginFooter">
		<div class="footerCol0">
			&copy; {{thisyear}} TracWater Pty Ltd. Patented and Patents Pending. Terms of Use and Privacy Policy are
			applicable to you. All rights reserved.
		</div>
		<div class="footerCol3 flexBoxCenter">
			<img src='img/mail.png' style="width: 26px;" /> &nbsp; support@tracwater.com.au
		</div>
		<div class="footerCol2 flexBoxCenter">
			<img src='img/phone25.png' style="width: 24px;" /> &nbsp; 1300 563 219
		</div>
		<div class="footerCol1 flexBoxCenter">
			<img src='img/world.png' style="width: 20px;" /> &nbsp; <a style="color: black;"
				href="http://www.tracwater.com.au">www.tracwater.com.au</a>
		</div>
	</div>
</footer>


<script>
	$(document).ready(function () {
		$("#tgl-sh-hd").click(function (e) {
			$(".meterTree2").toggle(500);
			$(".withtree1").toggleClass('wd_fll');

		});


	});
</script>