<div class="tablewrapper">
    <h2>Notification Configuration</h2>
    <button type="button" onclick="openForm()" ng-click="reSetValue()" class="openbtn">Create </button>



    <!-- POP UP FORM -->
    <div class="form-popup" id="form">
        <form class="form-container" action="/" method="post" id="settingForm">
            <span class="close" onclick="closeForm()"> &times; </span>
            <div class="elemDiv">
                <label for="username">Group Name</label>
                <input type="text" ng-model="contactName" id="groupname" name="contactName" value="{{contactName}}">
                <span ng-show="alrErrName" class="text-danger">{{ errorMsgName }}</span>
            </div>
            <div class="elemDiv">
                <label for="email">Email Address</label>
                <input type="email" ng-model="emailAddress" id="email" name="emailAddress" value="{{emailAddress}}">
                <span ng-show="alrErrEmail" class="text-danger">{{ errorMsgEmail }}</span>
            </div>
            <div class="elemDiv">
                <label for="number">SMS Number</label>
                <input type="number" ng-model="smsNumber" id="mobile_code" name="smsNumber" value="{{smsNumber}}">
                <span ng-show="alrErrNumber" class="text-danger">{{ errorMsgNumber }}</span>
            </div>
            <div class="form-row">
                <div class="elemDiv">
                    <label for="gender">Distance Alert1</label>
                    <div class="radio">
                        <div class="dstRadio">
                            <label for="Yes">Yes</label>
                            <input type="radio" ng-model="distanceAlert_1" name="distanceAlert_1" value="1"
                                ng-checked="{{distanceAlert_1 == 1}}">
                        </div>
                        <div class="dstRadio">
                            <label for="No">No</label>
                            <input type="radio" ng-model="distanceAlert_1" name="distanceAlert_1" value="0"
                                ng-checked="{{distanceAlert_1 == 0 || distanceAlert_1 == null}}">
                        </div>
                    </div>

                </div>
                <div class="elemDiv">
                    <label for="gender">Angle Alarm</label>
                    <div class="radio">
                        <div class="dstRadio">
                            <label for="Yes">Yes</label>
                            <input type="radio" ng-model="angleAlarm" name="angleAlarm" value="1"
                                ng-checked="{{angleAlarm == 1}}">
                        </div>
                        <div class="dstRadio">
                            <label for="No">No</label>
                            <input type="radio" ng-model="angleAlarm" name="angleAlarm" value="0"
                                ng-checked="{{angleAlarm == 0 || angleAlarm == null}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="elemDiv">
                    <label for="gender">Distance Alert2</label>
                    <div class="radio">
                        <div class="dstRadio">
                            <label for="Yes">Yes</label>
                            <input type="radio" ng-model="distanceAlert_2" name="distanceAlert_2" value="1"
                                ng-checked="{{distanceAlert_2 == 1}}">
                        </div>
                        <div class="dstRadio">
                            <label for="No">No</label>
                            <input type="radio" ng-model="distanceAlert_2" name="distanceAlert_2" value="0"
                                ng-checked="{{distanceAlert_2 == 0 || distanceAlert_2 == null}}">
                        </div>
                    </div>
                </div>
                <div class="elemDiv">
                    <label for="gender">Distance Alarm</label>
                    <div class="radio">
                        <div class="dstRadio">
                            <label for="Yes">Yes</label>
                            <input type="radio" ng-model="distanceAlarm" name="disAlarm" value="1"
                                ng-checked="{{distanceAlarm == 1}}">
                        </div>
                        <div class="dstRadio">
                            <label for="No">No</label>
                            <input type="radio" ng-model="distanceAlarm" name="disAlarm" value="0"
                                ng-checked="{{distanceAlarm == 0 || distanceAlarm == null}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="elemDiv">
                    <label for="gender">Distance Alert3</label>
                    <div class="radio">
                        <div class="dstRadio">
                            <label for="Yes">Yes</label>
                            <input type="radio" ng-model="distanceAlert_3" name="distanceAlert_3" value="1"
                                ng-checked="{{distanceAlert_3 == 1}}">
                        </div>
                        <div class="dstRadio">
                            <label for="No">No</label>
                            <input type="radio" ng-model="distanceAlert_3" name="distanceAlert_3" value="0"
                                ng-checked="{{distanceAlert_3 == 0 || distanceAlert_3 == null}}">
                        </div>
                    </div>
                </div>

            </div>
            <button type="button" class="update" ng-show="addShow" value="Add"
                ng-click="saveUserConfiguationSetting('Add')">Add</button>
            <button type="button" class="update" value="update" ng-show="updateShow"
                ng-click="updateUserConfiguationSetting('Edit')">Update</button>
            <button type="button" class="reset" ng-click="reSetValue()">Reset</button>
            <button type="button" class="test" ng-click="sendTestMessage()">Test</button>
            <!-- <span ng-show="alrErrNumber" class="text-danger">{{ errorMsgNumber }}</span> -->
        </form>

    </div>

    <table>
        <thead>
            <tr>
                <th>Group Name</th>
                <th>Email</th>
                <th>SMS Number</th>
                <th>Distance Alert 1</th>
                <th>Distance Alert 2</th>
                <th>Distance Alert 3</th>
                <th>Distance Alarm</th>
                <th>Angle Alarm</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in configRecord">
                <td>{{item.contactName}}</td>
                <td>{{item.emailAddress}}</td>
                <td>{{item.smsNumber}}</td>
                <td>{{item.alert1 == 1 ? 'Yes' : 'No'}}</td>
                <td>{{item.alert2 == 1 ? 'Yes' : 'No'}}</td>
                <td>{{item.alert3 == 1 ? 'Yes' : 'No'}}</td>
                <td>{{item.distance == 1 ? 'Yes' : 'No'}}</td>
                <td>{{item.angle == 1 ? 'Yes' : 'No'}}</td>
                <td>
                    <button class="edit" type="button" onclick="openForm()"
                        ng-click="editUserConfiguations(item._id)"><i class="fa fa-edit"></i></button>
                    <button class="delete" type="button" ng-click="ShowConfirm( item._id )"><i class="fa fa-trash"
                            aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    function openForm() {

        document.getElementById("form").style.display = "block";
        document.getElementById("settingForm").reset();
    }

    function resetForm() {
        // document.getElementById("settingForm").reset();
        // $('#settingForm').trigger("reset");
        document.getElementById("settingForm").reset()
    }


    function closeForm() {
        document.getElementById("form").style.display = "none";
    }

    $('#reset').click(function () {
        $('#settingForm')[0].reset();
    });

    // -----Country Code Selection
    $("#mobile_code").intlTelInput({
        initialCountry: "au",
        separateDialCode: true,
        // utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.4/js/utils.js"
    });
</script>